/* 
    CSS for Assignment 3
    Ezekiel Pascual
    February 12, 2026
*/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'Pixelify Sans', 'Times New Roman', 'serif';
    background: rgb(121, 0, 0)
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 10px;
    width: fit-content;
    margin: 10px auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px;
    font-size: 2rem;
}

#game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    display: block;
    margin: auto;
    border: 15px black;
    border-style: ridge;
    box-shadow: 0 0 10px;
}

#question-container{
    background-color: white;
    padding: 5px;
    border: 15px black;
    border-style: ridge;
    box-shadow: 0 0 10px;
    margin: 10px;
    width: 80%;
}

#question {
    font-size: 1.2rem;
}

#answers{
    list-style: none;
    margin: 10px;
    padding: 0;
    
}

button{
    width: 100%;
    font-family: 'Pixelify Sans', 'Times New Roman', 'serif';
    font-size: 1.2rem;
    border: 5px;
    border-style: double;
}